# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Virtualenvs / conda envs
.venv/
venv/
env/
*/env/
*/.venv/
data-collection/jomez_env/

# OS/editor
.DS_Store
.vscode/

# Build / native artifacts
*.so
*.dylib

# Data & big assets
data/
data-collection/
data/raw_videos/
*.mp4
*.mov
*.mkv
*.webm
*.dat
*.bin
*.pt
*.pth
*.onnx
